body{
    background-color: aquamarine;
}
.header{
    height: 40px;
    width: 30px;
}
.content{
    min-height: 500px;
}
.sidebar{
 background-color: purple;
}
.min-content{
    background-color: aqua;
    min-height: 500px;
    border: 1px slateblue;

}
.footer{

    height: 40px;

}