body{
    background-color: blueviolet;
}
.header{
      height: 40px;
}
.content{
    min-height: 100px;
}
.main-content{
    background-color: red;
    min-height: 50px;
    border: 1px solid;

}
.footer{
    height: 40px;
}